<!--
    @description Email Verification with OTP
    @author Ranjeet
    @version 1.0
-->
<template>
    <div class="slds-box parent-container">
        <template if:true={isVerified}>
            <div class="sample-success-message">
                <strong>Verification is successful !</strong>
            </div>
        </template>
        <template if:false={isVerified}>
            <div class="slds-m-top_medium">
                <div class="slds-grid ">
                    <div class="slds-col slds-size_1-of-1">
                        <lightning-input label="Full Name" name="full_name"
                                        message-when-value-missing="Name is required !"
                                        required
                                        onchange={setFullName}
                                        disabled={disableInputFields}>
                        </lightning-input>
                    </div>
                </div>
                <div class="slds-grid ">
                    <div class="slds-col slds-size_1-of-1">
                        <lightning-input type="email"
                                        label="Email" 
                                        message-when-value-missing="Email is required !" 
                                        message-when-type-mismatch="Please enter a valid email address!"
                                        required
                                        onchange={setEmailId}
                                        disabled={disableInputFields}>
                        </lightning-input>
                    </div>
                </div>
                <template if:true={isOtpRequired}>
                    <div class="slds-grid ">
                        <div class="slds-col slds-size_1-of-1">
                            <lightning-input label="Enter Verification Code"
                                            message-when-value-missing="Verification code is required !" 
                                            required
                                            onchange={setUserInputCode}>
                            </lightning-input>
                        </div>
                    </div>
                </template>
                <br/>
                <div class="slds-grid ">
                    <div class="slds-col slds-size_1-of-1 slds-p-bottom_large">
                        <lightning-button variant="brand" 
                                        label={sendOtpButtonLabel} 
                                        title={sendOtpButtonLabel} 
                                        disabled={disableSendOtpButton} 
                                        onclick={handleSendOtpRequest}>
                        </lightning-button>
                        <span class="slds-p-horizontal_x-small">&nbsp;</span>
                        <lightning-button variant="brand" 
                                        label="Next" 
                                        title="next" 
                                        onclick={handleNextButtonAction}
                                        disabled={disableNextButton}
                                        class="float-right-button">
                        </lightning-button>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>